DB_USER=postgres
DB_PASS=password
DB_NAME=agrivision

SECRET_KEY=super-secret-jwt-key
JWT_SECRET=super-secret-jwt-key

USE_MINIO=true
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=admin_utama
MINIO_SECRET_KEY=password_sangat_kuat_32karakter
MINIO_BUCKET_NAME=agrivision-uploads

