DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASS=password
DB_NAME=agrivision
DATABASE_URL=postgresql://postgres:password@db:5432/agrivision

SECRET_KEY=super-secret-jwt-key
JWT_SECRET=super-secret-jwt-key


USE_MINIO=true
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=admin_utama
MINIO_SECRET_KEY=password_sangat_kuat_32karakter
MINIO_BUCKET_NAME=agrivision-uploads

PUBLIC_BASE_URL=http://localhost


GEE_SERVICE_ACCOUNT_B64=
